@media screen and (max-width: 1100px) {
  .head h3 {
    text-align: center;
  }
  head p {
    text-align: center;
  }
}
.without-bio {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}
@media screen and (max-width: 400px) {
  .info-item {
    width: 90%;
  }
}
.with-bio {
  width: 30%;
}

.container-profile {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  transition: 0.3s;
}
@media screen and (max-width: 400px) {
  .container-profile {
    padding: 0;
    border-radius: 10px;
    background-color: #fff;
    transition: 0.3s;
  }
}
@media screen and (max-width: 1100px) {
  .without-bio {
    width: 100%;
  }
  .with-bio {
    width: 100%;
  }
  .container-profile {
    flex-direction: column;
  }
}
