.speakers {
  width: 25% !important;
}
@media screen and (max-width: 992px) {
  .event-info {
    width: 95% !important;
  }
  .event-info .details {
    width: 90% !important;
  }
  .session-item {
    justify-content: center;
  }
  .session-item h4 {
    display: none;
  }
  .event-comp h5 {
    text-align: center !important;
    font-size: 15px !important;
  }
  .speakers p {
    font-size: 14px;
  }
  .speakers {
    width: 75% !important;
  }
  .location .google-map {
    width: 100% !important;
    height: 200px;
  }
}

.event-questions {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 10px;
  gap: 8px;
  overflow-y: hidden;
  height: 85px;
  margin-bottom: 5px;
  overflow-x: auto;
}
.event-questions .event-question-child {
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 14px 10px;
  gap: 5px;
  min-width: 50px;
  height: 68px;

  /* white */
  background: #ffffff;
  border-radius: 7.51053px;
  p {
    padding: 0;
    margin: 0;
  }
}
