@media screen and (max-width: 992px) {
  .session-item {
    justify-content: center;
  }
  .session-item h4 {
    display: none;
  }
  h5 {
    text-align: center !important;
    font-size: 15px !important;
  }
  .speakers p{
    font-size: 14px;
  }
}
