/* Start Home Component */
.home-comp{
  background-color: #fff;
}
.home-comp .period {
  height: 10%;
  padding: 20px;
  background-color: #3296d41a;
}
@media (max-width: 992px) {
  .home-comp .period {
    text-align: center;
  }
}
.home-comp .statement {
  font-size: 20px;
  color: #565656;
}
@media screen and (max-width: 992px) {
  .home-comp .statement {
    font-size: 16px;
  }
}
.home-comp .content .nums,
.home-comp .content .text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  font-size: 24px;
  color: #3296d4;
}
@media (max-width: 992px) {
  .home-comp .content .nums,
  .home-comp .content .text {
    margin: 10px auto;
    width: auto;
  }
}
.home-comp .content .text {
  padding: 0 10px;
  margin-left: 5px;
}
.home-comp .content .nums h4 {
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  font-size: 24px;
  margin: 0;
}
@media screen and (max-width: 992px) {
  .home-comp .content .nums h4 {
    font-size: 20px;
  }
}
.home-comp .content .text p {
  color: #565656;
  font-size: 12px;
  text-align: center;
}
.home-comp .coming-events {
  padding: 10px;
}
@media (max-width: 992px) {
  .home-comp .coming-events {
    text-align: center;
    margin: 10px;
  }
}
.home-comp .coming-events .events {
  display: flex;
  row-gap: 20px;
  column-gap: 20px;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
}
@media (max-width: 992px) {
  .home-comp .coming-events .events {
    flex-direction: column;
    align-items: center;
  }
}
.home-comp .coming-events h3 {
  color: #565656;
  font-size: 24px;
  margin-bottom: 10px;
}
@media (max-width: 992px) {
  .home-comp .coming-events h3 {
    font-size: 20px;
  }
}
.home-comp .coming-events .event {
  width: 375px;
  height: 230px;
  background-color: #e1c6c6;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  position: relative;
  display: flex;
  align-items: end;
  padding-bottom: 10px;
  overflow: hidden;
}
@media (max-width: 500px) {
  .home-comp .coming-events .event {
    width: 300px;
    height: 200px;
  }
}
@media (max-width: 400px) {
  .home-comp .coming-events .event {
    width: 280px;
    height: 200px;
  }
}
.home-comp .coming-events .event img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home-comp .coming-events .event .content {
  position: relative;
  z-index: 1;
  background-color: #32323266;
  backdrop-filter: blur(7px);
  width: 90%;
  margin: 0 auto;
  border-radius: 10px;
  display: flex;
  gap: 30px;
  padding: 0 10px;
  color: #fff;
}
.home-comp .coming-events .event .content .txt {
  flex: 1;
}
.home-comp .coming-events .event .content h5 {
  font-size: 18px;
}

.home-comp .coming-events .event .content .info {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}
.home-comp .coming-events .event .content .info i {
  padding-right: 5px;
}
.home-comp .coming-events .event .content .date {
  background-color: #f2f2f280;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 10px;
}
.home-comp .recommend {
  padding: 10px;
}
@media (max-width: 992px) {
}
.home-comp .recommend h4 {
  color: #565656;
  font-size: 24px;
  margin-bottom: 10px;
}
@media (max-width: 992px) {
  .home-comp .recommend h4 {
    font-size: 20px;
  }
  .home-comp .recommend .events {
    flex-direction: column;
    align-items: center;
  }
}
.home-comp .recommend .event {
  display: block;
  width: 200px;
  height: 250px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 5px;
  position: relative;
}
.home-comp .recommend .event img {
  width: 180px;
  height: 120px;
  border-radius: 10px;
  display: block;
  margin: 5px auto;
}
.home-comp .recommend .event .info h6 {
  color: #000;
  font-size: 14px;
}
.home-comp .recommend .event .info p {
  color: #565656;
  font-size: 12px;
  margin: 0;
}
.home-comp .recommend .event .info p i {
  padding: 5px;
}
.home-comp .recommend .event .info .btns span {
  background-color: #27ae60;
  color: #fff;
  margin: 0 5px;
  width: fit-content;
  padding: 0 3px;
  border-radius: 5px;
  font-size: 12px;
}
.home-comp .recommend .event .info .btns .offline {
  background-color: #747688;
}
.home-comp .recommend .event .info .rate {
  display: flex;
  justify-content: space-between;
}
.home-comp .recommend .event .info .rate span {
  color: #6b0ab9;
  font-size: 14px;
  text-decoration: underline;
}
.home-comp .recommend .event .info .rate span:last-child {
  font-size: 16px;
  color: #000;
  text-decoration: none;
}
.home-comp .recommend .event .info .rate span:last-child i {
  color: #f7cb15;
  margin-right: 3px;
}
.home-comp .recommend .event .price {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #ffffff;
  background-color: rgba(154, 153, 153, 0.6);
  backdrop-filter: blur(10px);
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 5px;
  border-radius: 8px;
}
.home-comp .recommend .event .price h6 {
  font-size: 16px;
  margin: 0;
}
.home-comp .recommend .event .price span {
  font-size: 12px;
}
/* End Home Component */
